body{
    margin: 0;
    padding: 0;
    background-color: rgba(249,249,249); /* 白灰背景 */
    background-image: url('/pic/bg1.png');
    background-repeat: repeat; 
    /* font-family: "Noto Sans TC", "Noto Serif TC",sans-serif; */
}
.b-nav{
    background-color: #f9f9f9;
    /* padding: 10px 0; */
    width: 100%;

}
.b-nav .container{
    gap: 20px;
    display: flex;
    width: 100%;
}
.b-nav .container nav .nav1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: normal;
    width: 250px;
    margin-left: 0px;
    /* background-color: blue; */
}
.b-nav .container nav .nav1 .nav1-1{
    display: flex;
    flex-grow: 1;
    gap: 20px;
    justify-content: space-between;
}
.b-nav .container nav .nav1 .nav1-1 .line-l img{
    width: 100px;
    height: auto;
    flex-shrink: 0;
}
.b-nav .container nav .nav1 .nav1-1 .logo img{
    width: 100px;
    height: auto;
    flex-shrink: 0;
    /* background-color: red; */
}
.b-nav .container nav .nav2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: normal;
    width: 550px;
    margin-left: 20px;
    /* background-color: purple; */
}
.b-nav .container nav .nav2 .nav-list{
    display: flex;
    gap: 20px;
    align-self: stretch;
    font-weight: 400;
    white-space: nowrap;
    justify-content: space-between;
    margin: auto 0;
    padding: 0 20px;
    width: 1440px;
}
.b-nav .container nav .nav2 .nav-list ul{
    display: flex;
    flex-wrap: nowrap; /* 禁止子元素折行 */
    gap: 20px;
    align-items: center; /* 垂直居中对齐 */
}
.b-nav .container nav .nav2 .nav-list ul li{
    list-style: none;
    display: inline-block;
    font-size: 16px;
}
.b-nav .container nav .nav2 .nav-list ul li a{
    color: #1c1c1c;
    text-decoration: none;
}
.b-nav .container nav .nav2 .line-r img{
    aspect-ratio: 16.67;
    object-fit: auto;
    object-position: center;
    width: 100px;
    align-self: start;
}

header .banner .container img{
    width: 100%;
}
/* 購物車 */
.online-shop .position {
    position: fixed;
bottom: 50%;
left: 0;
width: 100%;
display: flex;
justify-content: right;
}
.online-shop .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 250px;
    background-color: #E9625F;
    border-radius: 10px 0px 0px 10px;
}
.online-shop .container ul{
    padding: 0;
    display: flex;
    flex-direction: column;
}
.online-shop .container ul li{
    list-style: none;
    margin-bottom: 10px;
}
.online-shop .container ul li .box{
    border-bottom: 2px solid #F9F9F9;
}
.online-shop .container ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.online-shop .container ul li a img{
    margin-bottom: 5px;
}
.online-shop .container ul li span{
    color: #F9F9F9;
}

/* 上生菓子 */
.namagashi-text .container h2{
    font-family: "Noto Serif TC";
}
.namagashi-text .container{
    margin-left: 240px;
    margin-right: 240px;
    border-bottom: 1px solid #1c1c1c;
}
.namagashi-items .container .box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.namagashi-items .container .box ul{
    display: flex;
    padding: 0;
}
.namagashi-items .container .box ul li{
    list-style: none;
    margin: 10px;
}
.namagashi-items .container .box ul li a{
    text-decoration: none;
    color: #1c1c1c;
}
.namagashi-items .container .box ul li a img{
    width: 300px;
    height: 300px;
}
.namagashi-items .container .box ul li a p {
    text-align: center;
    font-size: 16px; 
}
/* 半生菓子 */
.hannamagashi-text .container h2{
    font-family: "Noto Serif TC";
}
.hannamagashi-text .container{
    margin-left: 240px;
    margin-right: 240px;
    border-bottom: 1px solid #1c1c1c;
}
.hannamagashi-items .container .box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.hannamagashi-items .container .box ul{
    display: flex;
    padding: 0;
}
.hannamagashi-items .container .box ul li{
    list-style: none;
    margin: 10px;
}
.hannamagashi-items .container .box ul li a{
    text-decoration: none;
    color: #1c1c1c;
}
.hannamagashi-items .container .box ul li a img{
    width: 300px;
    height: 300px;
}
.hannamagashi-items .container .box ul li a p {
    text-align: center;
    font-size: 16px; 
}
/* 乾菓子 */
.kangashi-text .container h2{
    font-family: "Noto Serif TC";
}
.kangashi-text .container{
    margin-left: 240px;
    margin-right: 240px;
    border-bottom: 1px solid #1c1c1c;
}
.kangashi-items .container .box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.kangashi-items .container .box ul{
    display: flex;
    padding: 0;
}
.kangashi-items .container .box ul li{
    list-style: none;
    margin: 10px;
}
.kangashi-items .container .box ul li a{
    text-decoration: none;
    color: #1c1c1c;
}
.kangashi-items .container .box ul li a img{
    width: 300px;
    height: 300px;
}
.kangashi-items .container .box ul li a p {
    text-align: center;
    font-size: 16px; 
}
