*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgba(249,249,249); 白灰背景 */
    background-image: url('picture/dust-bgpic.png');
    background-repeat: repeat; 
    font-family: "Noto Sans TC"; /*Noto Serif TC*/
}
/*index*/
/* -------------------頭header------------------- */
.header{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.header-pic{
    display: flex;
    /* margin-bottom: 20px; */
}
.header-pic .container{
    justify-content: center;
    position: relative;
    width: 100%;
}
.header-pic .container .pic img{
    width: 100%;
}
.header-pic .text h1{
    font-size: 28px;
    color: #fff;
    font-weight: bold; /* 粗體 */
    font-family: "Noto Serif TC";
    letter-spacing: 15px;
    position: absolute;
    bottom: 20%;
    right: 0px;
    z-index: 1;   /* ------------------------------------------------------------層級1 */
}
@media screen and (max-width: 768px) {
    .header-pic .text{
        font-size: 20px;
    }
}
/* -------------------導覽列------------------- */
.nav-box .container{
    z-index: 10;  /* ------------------------------------------------------------層級10 */
    display: flex;
    margin-top: -82px;
    width: 100%;
    align-items: end;
    gap: 20px;
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 400;
    letter-spacing: 3.84px;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .nav-box .container{
        font-size: 13px;
    }
}
.nav-box .container nav{
    height: 100px;
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content:center ;
    align-items: center;
}
.nav-box .container nav .l-red-line img{
    aspect-ratio: 25;
    object-fit: auto;
    object-position: center;
    /* width: 150px; */
    margin-top: 260px;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .nav-box .container nav .l-red-line img{
        margin-top: 100px;
        width: 100%;
    }
}
.nav-box .container nav ul{
    display: flex;
    justify-content: center; /* 在水平方向上居中對齊 */
    margin-top: 146px;
    gap: 50px;
    width: 100vw;
}
@media screen and (max-width: 768px) {
    .nav-box .container nav ul{
    display: flex;
    justify-content: center;  
    gap: 5px;
    margin-right: 21%;
    margin-top: -30px;
    }
}
.nav-box .container nav ul .nav1{
    display: flex;
    margin-top: 130px;
    gap: 20px;
    justify-content: space-between;
}
/* LOGO圖 */
.nav-box .container nav ul .pic img{
    aspect-ratio: 0.74;
    object-fit: auto;
    object-position: center;
    width: 130px; /* 調寬、高其一，就可以調比例 */
    align-self: stretch;
    max-width: 100%;
}
@media screen and (max-width: 768px) {
    .nav-box .container nav ul .pic img{
        display: none;
    }
}
.nav-box .container nav ul .nav2{
    display: flex;
    margin-top: 130px;
    gap: 20px;
    justify-content: space-between;
}
.nav-box .container nav .r-red-line img{
    aspect-ratio: 25;
    object-fit: auto;
    object-position: center;
    /* width: 150px; */
    margin-top: 260px;
    /* 剛剛改100% */
    width: 100%;
}
@media screen and (max-width: 768px) {
    .nav-box .container nav .r-red-line img {
        position: absolute;
        right: 0;
        margin-top: 48px;
        width: 22%;
    }
}

.index-nav{
    position: relative;
    z-index: 1;  /* ------------------------------------------------------------層級1 */
    /* background-color: orange; */
    /* height: 100px; */

}
.index-nav li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
}
.nav-box .container nav .index-nav .nav1 li a{
    letter-spacing: 5px;
    text-decoration: none;
    font-weight: normal;
    color: #1c1c1c;
}
.nav-box .container nav .index-nav .nav2 li a{
    letter-spacing: 5px;
    text-decoration: none;
    font-weight: normal;
    color: #1c1c1c;
}
/* -------------------購物車------->>>線上訂位------------------- */
.online-shop .position {
    position: fixed;
    bottom: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 2; /* ------------------------------------------------------------層級2 */
}
@media screen and (max-width: 768px) {
    .online-shop .position {
    position: fixed;
    bottom: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 2; /* ------------------------------------------------------------層級2 */
    }
}
.online-shop .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 135px;
    background-color: #E9625F;
    border-radius: 10px 0px 0px 10px;
}
@media screen and (max-width: 768px) {
    .online-shop .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 100px;
    background-color: #E9625F;
    border-radius: 10px 0px 0px 10px;
    }
}
.online-shop .container ul{
    padding: 0;
    display: flex;
    flex-direction: column;
}
.online-shop .container ul li{
    list-style: none;
    margin-bottom: 10px;
}
.online-shop .container ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.online-shop .container ul li span{
    color: #F9F9F9;
    margin-top: 10px;
}
.online-shop .container ul li p{
    writing-mode: vertical-lr;
    letter-spacing: 5px; /* 字間距 */
    color: #F9F9F9;
    margin-top: 10px;
}
/* -------------------關於我們------------------- */
.about-us{
    position: relative;
}
/*扇紋背景*/
.about-us .container-bcg-wave{/* 定位 */
    display: flex;
    justify-content: right;
    height: 700px;
}
.about-us .container-bcg-wave .bcg-wave{ /* 背景生成 */
    background-image: url('picture/arches-bgpic.png');
    background-repeat: repeat;
    height: 100%;
    width: 63%;
    margin-top: 120px;
}
/*扇紋背景下的大圓*/
.about-us .container-bcg-circle{
    display: flex;
    justify-content: right;
}
.about-us .container-bcg-circle li{
    list-style: none;
    width: 60%;
	height: 18vh;
	border-radius: 40%;
	background-color: #E6231C;
    margin-top: 20px;
    z-index: -1;  /* ------------------------------------------------------------層級-1 */
}
/*扇紋背景上的小圓*/
.about-us .container-bcg-scircle{
    display: flex;
}
.about-us .container-bcg-scircle li{
    list-style: none;
    width: 19vh;
	height: 19vh;
	border-radius: 50%;
	background-color: #E6231C;
    position: absolute;
    bottom:36.555555%;
    left: 35.9%;
    z-index: 1; /* ------------------------------------------------------------層級1 */
}
/*師傅的圖*/
.about-us .master-pic{
    position: absolute;
    bottom: 15%;
    left: 39%;
    z-index: 3;  /* ------------------------------------------------------------層級3 */
}
.about-us .master-pic img{
    width: 60%;
}
/*師傅的手*/
.about-us .hand-pic{
    position: absolute;
    bottom:40%;
    left: 18%;
    z-index: 2;  /* ------------------------------------------------------------層級2 */
}
.about-us .hand-pic img{
    width: 60%;
}
/* 立春亭について */
.about-us .tsuite .container{
    position: absolute;
    bottom: 48%;
    left: 45%;
}
.about-us .tsuite .container p{
    writing-mode: vertical-lr;
    font-family: Noto Serif TC;
    letter-spacing: 8px;
}
.about-us .tsuite .container .riishuntei{
    color: #E6231C;
}
/*關於我們的文字*/
.about-us .text {
    text-align: center;
    position: absolute;
    bottom: 250px;;
    right: 12%;
    font-family: Noto Serif TC;
    color: #1c1c1c;
    letter-spacing: 5px; /* 字間距 */
    line-height: 2.5
}
.about-us .text .title h2{
    font-size: 26px;
}
.about-us .text .content{
    font-size: 14px;
}
/* -------------------立春亭のこだわり------------------- */
.stick .container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin: 5vh;
}
.stick .container .text p{
    writing-mode: vertical-lr; /*直書方向*/
    font-family: Noto Serif TC;
    letter-spacing: 10px;
}
.stick .container .text .riishuntei{
    color: #E6231C;
}
/* -------------------立春亭的堅持------------------- */
.stick-item{
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
}
.stick-item .container{
    display: flex;
    flex-direction: row;
}
/*味覺*/
/*圖片下的圓 和 圖片*/
.stick-item .aji{
    display: flex;
    flex-direction: column;
    margin: 0px 80px;
}
.stick-item .aji-pic{
    margin-bottom: 210px;
}
.stick-item .aji-pic .pic-container {
    position: relative;
    margin: 10px;
}
.stick-item .aji-pic .pic-container .circle li{
    list-style: none;
    width: 185px;
	height: 185px;
	border-radius: 50%;
	background-color: #E6231C;
    position: absolute;
    top: 5px;
    left: -5px;
    z-index: -1;
}
.stick-item .aji-pic .pic-container .pic img{
    width: 185px;
    position: absolute;
    z-index: 1;
} 
/*圖片下的文字*/
.aji-text{
    display: flex;
    flex-direction: row;
    font-family: Noto Serif TC;
}
.aji-text .text-container{
    writing-mode: vertical-rl
}
.aji-text .text-container{
    margin-left: 60px;
}
.aji-text .text-container .title .title-container h3{
    color: #E6231C;
    font-size: 24px;
    font-weight: bold; /* 粗體 */
    letter-spacing: 15px; /* 字間距 */
}
.aji-text .text-container .title .title-container{
    display: flex;
    flex-direction: column;
}
.aji-text .text-container .title .title-container .line-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.aji-text .text-container .title .title-container .line-container li{
    list-style: none;
    width: 1px;
    height: 100px;
    background-color: #E6231C;
}
.aji-text .text-container .content p{
    color: #1c1c1c;
    font-style: normal;
    letter-spacing: 5px; /* 字間距 */
}
/*製法*/
/*圖片下的圓 和 圖片*/
.stick-item .make{
    display: flex;
    flex-direction: column;
    margin: 0px 80px;
}
.stick-item .make-pic{
    margin-bottom: 210px;
}
.stick-item .make-pic .pic-container {
    position: relative;
    margin: 10px;
}
.stick-item .make-pic .pic-container .circle li{
    list-style: none;
    width: 185px;
	height: 185px;
	border-radius: 50%;
	background-color: #E6231C;
    position: absolute;
    top: 5px;
    left: -5px;
    z-index: -1;
}
.stick-item .make-pic .pic-container .pic img{
    width: 185px;
    position: absolute;
    z-index: 1;
} 
/*圖片下的文字*/
.make-text{
    display: flex;
    flex-direction: row;
    font-family: Noto Serif TC;
}
.make-text .text-container{
    writing-mode: vertical-rl
}
.make-text .text-container{
    margin-left: 60px;
}
.make-text .text-container .title h3{
    color: #E6231C;
    font-size: 24px;
    font-weight: bold; /* 粗體 */
    letter-spacing: 15px; /* 字間距 */
}
.make-text .text-container .content p{
    color: #1c1c1c;
    font-style: normal;
    letter-spacing: 5px; /* 字間距 */
}
/*食材*/
/*圖片下的圓 和 圖片*/
.stick-item .food{
    display: flex;
    flex-direction: column;
    margin: 0px 80px;
}
.stick-item .food-pic{
    margin-bottom: 210px;
}
.stick-item .food-pic .pic-container {
    position: relative;
    margin: 10px;
}
.stick-item .food-pic .pic-container .circle li{
    list-style: none;
    width: 185px;
	height: 185px;
	border-radius: 50%;
	background-color: #E6231C;
    position: absolute;
    top: 5px;
    left: -5px;
    z-index: -1;
}
.stick-item .food-pic .pic-container .pic img{
    width: 185px;
    position: absolute;
    z-index: 1;
} 
/*圖片下的文字*/
.food-text{
    display: flex;
    flex-direction: row;
    font-family: Noto Serif TC;
}
.food-text .text-container{
    writing-mode: vertical-rl
}
.food-text .text-container{
    margin-left: 60px;
}
.food-text .text-container .title h3{
    color: #E6231C;
    font-size: 24px;
    font-weight: bold; /* 粗體 */
    letter-spacing: 15px; /* 字間距 */
}
.food-text .text-container .content p{
    color: #1c1c1c;
    font-style: normal;
    letter-spacing: 5px; /* 字間距 */
}
/* -------------------熱門商品推薦------------------- */
.hot-items{
    margin: 100px auto;
}
.hot-items .container{
    text-align: center;
}
.hot-items .container .title{
    margin: 30px;
    position: relative; 
}
.hot-items .container .title .text h2{
    font-family: Noto Serif TC;
    font-size: 26px;
    color: #1c1c1c;
    letter-spacing: 5px; /* 字間距 */
    font-weight: bold; /* 粗體 */
    position: relative; 
    z-index: 1; 
    /* ------------------------------------------------------------層級1 */
}
.hot-items .container .title .pic img{
    width: 80px; 
    position: absolute;
    right: 470px;
    top:  1px;
    z-index: 0; 
    /* ------------------------------------------------------------層級0 */
}
.hot-items .container .item-list .list-container{
    width: 65%;
    margin: 0 auto;
}
.hot-items .container .item-list .list-container ul{
    display: flex;
    flex-wrap: wrap; /* 讓item自動換行 */
    gap: 10px;
    justify-content: center; /* 水平居中 */
    
}
.hot-items .container .item-list .list-container ul li{
    list-style: none;
    margin: 35px;
    text-align: center; /* 水平居中 */
}
.hot-items .container .item-list .list-container ul li .pic-container{
    position: relative;
}
.hot-items .container .item-list .list-container ul li .pic-container .pic img{
    width: 185px;
}
.hot-items .container .item-list .list-container ul li .pic-container .pic a{
    text-decoration: none; 
    letter-spacing: 3px; /* 字間距 */
}
.hot-items .container .item-list .list-container ul li .pic-container .pic p{
    font-size: 12px;
    color: #1c1c1c;
    margin-top: 5px;
}
/*li*/
.hot-items .container .item-list .list-container ul li .pic-container .text{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: #1c1c1c;
    writing-mode: vertical-lr; /*直書方向*/
}
.hot-items .container .item-list .list-container ul li .pic-container .text p{
    letter-spacing: 3px; /* 字間距 */
}
/* 店鋪一覽 */
.branch{
    background-image: url('picture/dust-branch-bcg.png');
    background-repeat: repeat;
    height: 35vw;
}
.branch .container{
    margin: 100px auto;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center; 
    /* height:200vh;  */
}
.branch .container .title{
    position: relative;
}
.branch .container .title .text h2{
    font-family: Noto Serif TC;
    font-size: 26px;
    color: #1c1c1c;
    letter-spacing: 5px; /* 字間距 */
    font-weight: bold; /* 粗體 */
    margin: 50px 0 20px 0;
    position: relative; 
    z-index: 1; /* ------------------------------------------------------------層級1 */
}
.branch .container .title .pic img{
    width: 80px;
    position: absolute;
    top: 50px;
    left: 80px;
    z-index: 0; /* ------------------------------------------------------------層級0 */
}
.branch .container .shop-list ul li img{
    width: 200px;
}
.branch .container .shop-list ul{
    display: flex;
    list-style: none;
}
.branch .container .shop-list ul li{
    /* display: flex; */
    flex-direction: row;
    margin: 30px;
}
.shop-list ul li a {
    text-decoration: none; 
}
.shop-list ul li a  {
    text-align: center;
    text-decoration: none; 
    font-family: Noto Serif TC;
    font-size: 12px; 
    letter-spacing: 3px; /* 字間距 */
    color: #1c1c1c; 
}
/* 頁尾 */
footer section .container{
    background-color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 水平居中 */
    align-items: center;
    height: 20vw;
}
footer section .container .footer-logo img{
    width: 50px;
    margin: 10px auto;
}
footer section .container .text p{
    font-size: 14px;
    font-family: Noto Serif TC;
    color: #FFFFFF;
    letter-spacing: 5px; /* 字間距 */
    margin: 10px auto;
}
footer section .container .social-icon{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}
footer section .container .social-icon .line-icon{
    margin: 0 10px;
}
footer section .container .social-icon .facebook-icon{
    margin: 0 10px;
}
footer section .container .social-icon .instagram-icon{
    margin: 0 10px;
}
footer section .container .copyright p{
    font-size: 12px;
    color: #FFFFFF;
    margin: 10px auto;
    letter-spacing: 3px; /* 字間距 */
}

/*product*/
.product-nav-box .container{
    z-index: 10;  /* ------------------------------------------------------------層級10 */
    display: flex;
    margin-top: -82px;
    width: 100%;
    align-items: end;
    gap: 20px;
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 400;
    letter-spacing: 3.84px;
    justify-content: space-between;
    background-color: #F9F9F9;
}
.product-nav-box .container nav{
    height: 100px;
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content:center ;
    align-items: center;
    background-color: #E6231C;
}
.product-nav-box .container nav .l-red-line img{
    aspect-ratio: 25;
    object-fit: auto;
    object-position: center;
    /* width: 150px; */
    margin-top: 260px;
    width: 100%;
    background-color: aqua;
}
.product-nav-box .container nav ul{
    display: flex;
    justify-content: center; /* 在水平方向上居中對齊 */
    /* margin-top: 146px; */
    gap: 50px;
    width: 100%;
    background-color: aquamarine;
}
.product-nav-box .container nav ul .nav1{
    display: flex;
    margin-top: 130px;
    gap: 20px;
    justify-content: space-between;
}

.product-nav-box .container nav .r-red-line img{
    aspect-ratio: 25;
    object-fit: auto;
    object-position: center;
    /* width: 150px; */
    margin-top: 260px;
    /* 剛剛改100% */
    width: 100%;
}
.product-nav-box .index-nav{
    position: relative;
    z-index: 1;  /* ------------------------------------------------------------層級1 */
    /* background-color: orange; */
    /* height: 100px; */

}
.product-nav-box .index-nav li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
}
.product-nav-box .container nav .index-nav .nav1 li a{
    letter-spacing: 5px;
    text-decoration: none;
    font-weight: normal;
    color: #1c1c1c;
}
.product-nav-box .container nav .index-nav .nav2 li a{
    letter-spacing: 5px;
    text-decoration: none;
    font-weight: normal;
    color: #1c1c1c;
}