*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgba(249,249,249); 白灰背景 */
    background-image: url('picture/dust-bgpic.png');
    background-repeat: repeat; 
    font-family: "Noto Sans TC";
}
/* 頭header */
.header{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.header-pic{
    display: flex;
    /* margin-bottom: 20px; */
}
.header-pic .container{
    justify-content: center;
    position: relative;
    width: 100%;
}
.header-pic .container .pic img{
    width: 100%;
}
.header-pic .text{
    font-size: 30px;
    color: #fff;
    font-weight: bold; /* 粗體 */
    font-family: "Noto Serif TC";
    letter-spacing: 15px;
    position: absolute;
    bottom: 20%;
    right: 0px;
    z-index: 1;   /* ------------------------------------------------------------層級1 */
}
@media screen and (max-width: 768px) {
    .header-pic .text{
        font-size: 20px;
    }
}
/* 導覽列 */
.nav-box .container{
    z-index: 10;
    display: flex;
    margin-top: -82px;
    width: 100%;
    align-items: end;
    gap: 20px;
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 400;
    letter-spacing: 3.84px;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .nav-box .container{
        font-size: 13px;
    }
}
.nav-box .container nav{
    height: 100px;
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content:center ;
    align-items: center;
}
.nav-box .container nav .l-red-line img{
    aspect-ratio: 25;
    object-fit: auto;
    object-position: center;
    /* width: 150px; */
    margin-top: 260px;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .nav-box .container nav .l-red-line img{
        margin-top: 100px;
        width: 100%;
    }
}
.nav-box .container nav ul{
    display: flex;
    justify-content: center; /* 在水平方向上居中對齊 */
    margin-top: 146px;
    gap: 50px;
    width: 100vw;
}
@media screen and (max-width: 768px) {
    .nav-box .container nav ul{
    display: flex;
    justify-content: center;  
    gap: 5px;
    margin-right: 21%;
    margin-top: -30px;
    }
}
.nav-box .container nav ul .nav1{
    display: flex;
    margin-top: 130px;
    gap: 20px;
    justify-content: space-between;
}
/* LOGO圖 */
.nav-box .container nav ul .pic img{
    aspect-ratio: 0.74;
    object-fit: auto;
    object-position: center;
    width: 130px; /* 調寬、高其一，就可以調比例 */
    align-self: stretch;
    max-width: 100%;
    
}
@media screen and (max-width: 768px) {
    .nav-box .container nav ul .pic img{
        display: none;
    }
}
.nav-box .container nav ul .nav2{
    display: flex;
    margin-top: 130px;
    gap: 20px;
    justify-content: space-between;
}
.nav-box .container nav .r-red-line img{
    aspect-ratio: 25;
    object-fit: auto;
    object-position: center;
    /* width: 150px; */
    margin-top: 260px;
    /* 剛剛改100% */
    width: 100%;
}
@media screen and (max-width: 768px) {
    .nav-box .container nav .r-red-line img {
        position: absolute;
        right: 0;
        margin-top: 48px;
        width: 22%;
    }
}

.index-nav{
    position: relative;
    z-index: 1;
    /* background-color: orange; */
    /* height: 100px; */

}
.index-nav li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
}
.nav-box .container nav .index-nav .nav1 li a{
    letter-spacing: 5px;
    text-decoration: none;
    font-weight: normal;
    color: #1c1c1c;
}
.nav-box .container nav .index-nav .nav2 li a{
    letter-spacing: 5px;
    text-decoration: none;
    font-weight: normal;
    color: #1c1c1c;
}
/* 購物車------->>>線上訂位 */
.online-shop .position {
    position: fixed;
    bottom: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 2; /* ------------------------------------------------------------層級2 */
}
@media screen and (max-width: 768px) {
    .online-shop .position {
    position: fixed;
    bottom: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 2;
    }
}
.online-shop .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 150px;
    background-color: #E9625F;
    border-radius: 10px 0px 0px 10px;
}
@media screen and (max-width: 768px) {
    .online-shop .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 100px;
    background-color: #E9625F;
    border-radius: 10px 0px 0px 10px;
    }
}
.online-shop .container ul{
    padding: 0;
    display: flex;
    flex-direction: column;
}
.online-shop .container ul li{
    list-style: none;
    margin-bottom: 10px;
}
.online-shop .container ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.online-shop .container ul li span{
    color: #F9F9F9;
    margin-top: 10px;
}
.online-shop .container ul li p{
    writing-mode: vertical-lr;
    letter-spacing: 5px; /* 字間距 */
    color: #F9F9F9;
    margin-top: 10px;
}
/* 關於我們 */
.about-us .container-bcg-wave{/* 定位 */
    display: flex;
    justify-content: right;
    height: 500px;
}
.about-us .container-bcg-wave .bcg-wave{ /* 背景生成 */
    background-image: url('picture/arches-bgpic.png');
    background-repeat: repeat;
    height: 100%;
    width: 60%;
    margin-top: 120px;
}
.container-bcg-circle{
    display: flex;
    justify-content: right;
}
.container-bcg-circle img{
    height: auto;
    width: 60%;
    margin-top: 20px;
    z-index: -1;
}
.container-bcg-scircle{
    display: flex;
}
.container-bcg-scircle img{
    width: 10%;
}
/* 立春亭的堅持 */
.stick .container .text{
    
}
.stick .container .text p{
    writing-mode: vertical-lr;
    font-family: Noto Serif TC;
    align-items: center; 

}

